<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DigitalOceanToken" value="" />
    <add key="SshFingerprint" value="" />
    <add key="SshPassphrase" value="" />
    <add key="SshPrivateKeyFileName" value="" />
    <add key="ClientFileFullName" value="C:\\Program Files\\OpenVPN\\config\\client.ovpn" />
    <add key="OpenVpnDirectory" value="C:\\Program Files\\OpenVPN\\bin\\" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>